/* CSS Document */
student  {
	display: inline-block;     border-radius: 25px;
    width: 300px;              margin: 15px;
    border: thin solid black;  padding: 15px;
	color: #0000CC;            background: lightblue;
}

name, branch, college, yoj, email {
    display:block;       padding-left:20px; 
}

usn {
    display: block;         border-radius: 25px; 
    padding: 5px;           text-align: center;
    background: maroon;     color: white;    
}

student:hover{
    background: pink; 
}